@layer components {
  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none h-6 w-6 rounded-full bg-current border-2 border-foreground cursor-pointer;
  }
  
  .thumb-red {
    color: rgb(var(--r), 0, 0);
  }

  input[type="range"].thumb-red::-webkit-slider-thumb {
    border-color: red;
  }
  
  .thumb-green {
    color: rgb(0, var(--g), 0);
  }

  input[type="range"].thumb-green::-webkit-slider-thumb {
    border-color: green;
  }
  
  .thumb-blue {
    color: rgb(0, 0, var(--b));
  }

  input[type="range"].thumb-blue::-webkit-slider-thumb {
    border-color: blue;
  }
  
  .thumb-hue {
    color: hsl(var(--h), 100%, 50%);
  }
  
  .thumb-saturation {
    color: hsl(var(--h), var(--s), 50%);
  }
  
  .thumb-lightness {
    color: hsl(var(--h), 100%, var(--l));
  }
}